@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

@font-face {
    font-family: Eurostile;
    src: url("@/src/fonts/EurostileExtendedBlack.ttf");
}

@font-face {
    font-family: Digital7;
    src: url("@/src/fonts/digital-7.ttf");
}

@font-face {
    font-family: ReachStory;
    src: url("@/src/fonts/Reach Story.ttf");
}

@font-face {
    font-family: Tangerine;
    src: url("@/src/fonts/tangerine.ttf");
}

@font-face {
    font-family: Primary;
    src: url("@/src/fonts/KGPrimaryItalics.ttf");
}

@font-face {
    font-family: Spaceport;
    src: url("@/src/fonts/Spaceport_2006.otf");
}

body {
    min-height: 100vh;
}

// ------ LABORATORIO ------
#lab {
    background: url("@/src/img/lab/lab.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;

    & > * {
        position: absolute;
    }

    span {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "digital-7";
        transform: rotateY(10deg);
        color: white;
        text-shadow: 0 0 1rem white;
    }

    // ------ CONTADORES ------
    #general-counter {
        inset: 29% 87% 64% 3.3%;
        clip-path: polygon(0 0, 100% 18%, 100% 95%, 0 100%);

        span {
            transform: skewY(5deg);
            transform: rotate(1.5deg);
            font-size: 5vh;
        }
    }

    #hangman-counter {
        inset: 32% 27.3% 64.2% 64.5%;

        span {
            font-size: 4.5vh;
        }
    }

    // ------ GAS HANGMAN ------
    .gas-container {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        inset: 38.3% 25.4% 42% 61.75%;
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            77.5% 100%,
            73% 86.7%,
            19.2% 86.7%,
            19.2% 100%,
            0 100%
        );

        .smoke {
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                pointer-events: none;
            }

            #smoke1 {
                animation: smoke 12s infinite;
            }
            #smoke2 {
                animation: smoke 6s infinite;
            }
            #smoke3 {
                animation: movement-smoke 27s infinite;
            }
            #smoke4 {
                animation: movement-smoke 72s infinite;
            }
        }
    }

    // ------ PIZARRA ------
    #pizarra {
        inset: 29.2% 51% 53% 30.1%;
        color: black;
        font-family: "Primary";
        font-size: 1.5vh;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5% 1%;
    }

    // ------ CADA OVEJA CON SU PAREJA ------
    #oveja {
        inset: 84% 55% 3.5% 34%;
        clip-path: polygon(35% 0, 97% 0, 67% 100%, 0 100%);
    }

    // ------ KUKU ------
    #kuku {
        inset: (83.5% 33.7% 3.3% 55%);
        clip-path: polygon(0 0, 63% 0, 100% 100%, 21% 100%);
    }

    // ------ HANGMAN ------
    #hangman {
        inset: 55.5% 27.8% 39.5% 64.2%;
        clip-path: polygon(0 0, 88% 0, 100% 100%, 13% 100%);
    }

    // ------ AGRUPANDO ------
    #agrupando {
        inset: 48.2% 44% 43.5% 48%;
        clip-path: polygon(82% 0, 82% 65%, 100% 100%, 0 100%, 20% 65%, 20% 0);
    }

    // ------ NECESITAMOS UNA CONTRASEÑA ------
    #password {
        inset: 57.6% 87.6% 38.2% 9.7%;
        transform: skewY(-20deg);
    }
}

// ------ KEYFRAMES ------
@keyframes smoke {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
        filter: saturate(6);
        transform: scale(1.02);
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes movement-smoke {
    0% {
        left: 0;
        top: 0;
        opacity: 0.3;
        transform: scale(0.9);
    }
    17% {
        opacity: 0.7;
        filter: saturate(7);
        transform: rotate(2deg);
    }
    34% {
        opacity: 0.3;
        filter: blur(1rem);
        filter: saturate(3);
    }
    51% {
        opacity: 0;
        transform: scale(1.1);
    }
    68% {
        opacity: 0.3;
        filter: blur(1rem);
        filter: saturate(5);
    }
    85% {
        opacity: 0.7;
        transform: rotate(-2deg);
    }
    100% {
        left: 0;
        top: 0;
        opacity: 0.3;
        transform: scale(0.9);
    }
}

// borde monitor
#borde-monitor {
    height: 100vh;
    width: 100%;
    background-image: url("@/src/img/menu/fondoMenu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
